

<div class="container">
  <%= render partial: "components/navbar" %>

  <div class="row">
    <div class="col-xs-12 col-lg-4">
      <div class="row">
        <div class="col-xs-12">
          <h1>Content</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga incidunt expedita, quo molestias sapiente inventore hic totam consectetur saepe deleniti commodi consequuntur quae, natus error non asperiores quas ut officia.</p>
        </div>
        <div class="col-xs-12">
          <h1>More content</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla tenetur esse, sunt, ipsa porro consequatur sequi quibusdam! Quasi similique possimus unde, ad perspiciatis repellat dolores eveniet dolorum doloremque. Dolorem, ratione.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <%= image_tag("stairway-to-ftr") %>
    </div>
  </div>

</div>
