<div class="container">
  <div class="row">

    <div class="col-xs-12 col-md-8">
      <!-- temporary border styles for left line, need to remove h1 margin to connect -->
      <div class="col-xs-12" style="border-left: 1px solid red">
      <h1>Solve</h1>
      </div>
      <div class="col-xs-12" style="border-left: 1px solid red">
      <h1>the</h1>
      </div>
      <div class="col-xs-12" style="border-left: 1px solid red">
      <h1>future</h1>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <button>
      <%= link_to 'enter', page_path('home') %>
      </button>
    </div>
  </div> <!-- row end -->

</div> <!-- container end -->
