h1 {
  font-family: 'Fjalla One', sans-serif;
  font-style: Regular;
}

/* welcome page desktop styling */
@media screen and (min-width: 800px) {

.welcome-title {
  max-height: 475px;

    h1 {
    margin: -10px;
    line-height: 0.9;
  }
}

.welcome-subtitle {
  margin:  0 auto;
  padding-top: 200px;
  padding-left: 58px;

  h2 {

    padding-bottom: 20px;
  }

  button {
    margin: auto;
    display: block;
  }
}

.row-padded-top {
  position: fixed;
  bottom: 15vh;
}
}
.welcome-title {
  color: #8ACB88;
  border-left: 3.5px solid #575761;
  max-height: 475px;
    h1 {
    font-size: 180px;
    margin: -10px;
    line-height: 0.9;
  }
}

.welcome-subtitle {
  h2 {
    margin: auto;
    display: block;
    font-family: 'Cantarell';
    font-style: regular;
    font-size: 36px;
    color: #575761;
  }

  button {
    margin: auto;
    display: block;
    a {
    font-family: 'Cantarell';
    font-size: 24px;
    text-decoration: none;
    color: #648381;
    }
  }
}

.subtitle-box {
  display: table-cell;
  text-align: center;
}

.btn-yours {
  color: #575761;
  border: 1.5px solid #8ACB88;
  font-weight: bold;
  height: 60px;
  width: 210px;
  padding: 10px 20px;
  border-radius: 15px

}

.btn-yours:hover {
  background-color: #F8F9FB;
  transition: background 0.5s ease;
}
