<h1> <%= @podcast_episode.title %> </h1>
<p> <%= @podcast_episode.upload_date %> </p>
<iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= @podcast_episode.url %>"></iframe>
